#root {
  font-family: arial, sans-serif;
  margin: 0 auto;
  padding: 2rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.bottom-bar {
  display: flex;
  padding-top: 0.5rem;
  justify-content: end;
}

.bottom-bar > button {
  padding: 0.5rem;
  min-width: 4rem;
  margin-left: 8px;
}

.full-centered {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

dl {
  width: 100%;
}
dt,
dd {
  margin: 0;
}
.key-value {
  display: flex;
  align-items: center;
  padding: 0.3rem;
}
.key-value dd {
  margin-left: 20px;
  font-weight: bold;
}
